/*@keyframes mainBody {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    60% {*/
/*        opacity: 0;*/
/*    }*/
/*    100%  {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
#mainBody {
    animation: mainBody 5s;
    position: relative;
}

.mainHomespital {
    position: relative;
    top: 300px;
}
