#session1 {
    margin-top:100px;
}
.name {
    margin-left: 100px;
}
.type {
    line-height: 28px;
}
.card-text p {
    margin-left: 100px;
    margin-bottom: 5px;
}
/*시간 선택하기 영역의 의사 사진 CSS*/
.img-wrapper {
    position: relative;
    width: 300px;
    height: 300px;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    /*transform: translate(50, 50);*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

/* Footer */
footer {
    margin-top: 2em;
}

#footer {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    margin: 0;
    line-height: 1em;
    padding: 2.25em;
    background: #39454b;
    color: rgba(185, 186, 187, 0.5);
    overflow: hidden;
}

#footer > * {
    margin-bottom: 0;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #b9babb;
}

#footer ul.menu {
    margin: 0;
}

#footer ul.menu li {
    border-left-color: rgba(185, 186, 187, 0.2);
    font-size: 0.9em;
}

@media screen and (max-width: 1000px) {
    #footer {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        line-height: 1.5em;
        text-align: center;
        padding: 2em 1em 2em 1em;
    }

    #footer > * {
        margin: 0 0 1em 0;
    }
}

@media screen and (max-width: 736px) {
    #footer ul.menu li {
        border-left: none;
        display: block;
        line-height: inherit;
        margin: 0.25em 0 0 0;
        padding: 0.25em 0 0 0;
    }

    #footer ul.menu li:first-child {
        margin-top: 0;
        padding-top: 0;
    }
}