
a {
    text-decoration: none;
}

.link-text {
    color: white;
}

.medicalList {
    height: auto;
    /*width: 60%;*/
    position: absolute;
    /*right: 10%;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 1vw;
}

.databox {
    width: 18%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px gray;
    border-radius: 20px;
    border: 1px solid #339966;
    margin: 10px;
    padding: 15px 0;
}

.medicalLink {
    color: black;
    text-align: center;
}

#searcharea {
    width: 500px;
    margin: 20px auto 10px;
    padding: 10px;
    display: flex;

}

.search {
    width: 350px;
    margin: 10px auto;

}

#mediSearch {
    border: 1px solid #dbdbdb;
}

#searchMedical {
    border: none;
    font-size: 1vw;
    padding: 4px 10px;
}
