@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

li > a,
i {
    /*font-family: 'TmonMonsori';*/
    font-size: 15px;
    letter-spacing: 1px;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /*color: #edf0f1;*/
    text-decoration: none;
}

#dropdown-item1:hover {
    background-color: #0058A8
}

#dropdown-item2:hover {
    background-color: #FFCD4A
}

header {

    /*display: flex;*/
    position: fixed;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.nav-up {
    background-color: rgb(255, 255, 255);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    /*헤더 높이와 같게*/
}

/*.nav-link btn-warning dropdown-toggle {*/
/*    background-color: #2a2d42;*/
/*}*/
.nav-Link {
    background-color: #2A2D42 !important
}


.nav-down {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    /*헤더 높이와 같게*/
}

/*#logo {*/
/*    !*transition: all ease 2s 0s;*!*/
/*    animation: fadein 2s;*/
/*    -moz-animation: fadein 2s;*/
/*    !* Firefox *!*/
/*    -webkit-animation: fadein 2s;*/
/*    !* Safari and Chrome *!*/
/*    -o-animation: fadein 2s;*/
/*}*/

/*@keyframes fadein {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@-moz-keyframes fadein {*/
/*    !* Firefox *!*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@-webkit-keyframes fadein {*/
/*    !* Safari and Chrome *!*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

/*@-o-keyframes fadein {*/
/*    !* Opera *!*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/
