<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <mapper resource="mappers/medicalRecords.xml"/>
        <mapper resource="mappers/member.xml"/>
        <mapper resource="mappers/Diagnosis.xml"/>
        <mapper resource="mappers/allmedicalList.xml"/>
        <mapper resource="mappers/Doctor.xml"/>
        <mapper resource="mappers/card_information.xml"/>
        <mapper resource="mappers/pharmacy.xml"/>
    </mappers>
</configuration>
